<!DOCTYPE html>
<html>

  <head>
    <title>אפליקציית חשבוניות</title>
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='style.css')}}">
    <img id="logo" src="{{ url_for('static', filename='logo.jpeg') }}">

  </head>
  <body>

    <h1>אפליקציית חשבוניות</h1>
    <button class = 'special-button' onclick="window.location.href='/'">חזרה לתפריט הראשי</button>

    <form action="/result" method="POST" enctype="multipart/form-data">
      <div>
<!--        <label for="file"></label>-->
        <input type="file" id="file" name="file"><br><br>
      </div>

      <div>
        <label for="price">תעריף בקבוק רגיל</label>
        <input type="text" id="price" name="price"><br><br>
      </div>
      <div>
        <label for="magnum_price">תעריף בקבוק מגנום</label>
        <input type="text" id="magnum_price" name="magnum_price"><br><br>
      </div>
      <div>
        <label for="mishtachim_price">תעריף סטרץ' מכונה</label>
        <input type="text" id="mishtachim_price" name="mishtachim_price"><br><br>
      </div>
      <div>
        <label for="karton_price">תעריף מדבקת קרטון</label>
        <input type="text" id="karton_price" name="karton_price"><br><br>
      </div>
      <div>
        <label for="maarach_price">תעריף מערך חוזר</label>
        <input type="text" id="maarach_price" name="maarach_price" autofocus/><br><br>
      </div>
      <div>
        <label for="month">שם החודש להוצאת החשבונית</label>
        <input type="text" id="month" name="month"><br><br>
      </div>
      <div>
        <label for="winery">שם היקב</label>
        <input type="text" id="winery" name="winery"><br><br>
      </div>

      <input type="submit" value="Submit">
    </form>
    <a href="https://wa.me/972545951789">
    </a>
  </body>
</html>