<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>האפליקציות של יואל</title>
    <link rel= "stylesheet" type= "text/css" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
    <h1>האפליקציות של יואל</h1>
    <p>מה תרצה לעשות עכשיו?</p>
    <button onclick="window.location.href='/home'">חשבוניות</button>
    <button onclick="window.location.href='/hours'">חישוב שכר</button>
    <button onclick="window.location.href='/query'">נתוני ביקבוק</button>
    <button onclick="window.location.href='/update_files'">עדכון הנתונים</button>

  </body>
</html>
